body
{
    /* -moz-Dialog */
    background-color: #E9E9E9;
}

#title
{
    font-size: 25px;
}
#contents > .row_news
{
    display: block;
    margin: 10px 0px;
}
#contents a
{
    text-decoration: none;
    font-size: 20px;
}
#contents .info
{
    position: relative;
    left: 10px;
    color: #989898;
    font-size: 16px;
}

#source_link_div
{
    display: none;
    font-style: italic;
    margin-top: 20px;
}

/*分隔線*/
.sep_line
{
    width: 600px;
    height: 1px;
    background: #d8d8d8;
}

#messages
{
    font-size: 16px;
    color: red;
}
